@using Ludothek.Storage.Models
@model Ludothek.App.Models.Game.GameListViewModel
@{
    ViewBag.Title = "All Games";
}

<h2>All Games</h2>

@foreach(Spiel game in Model.Games)
{
    <li>
        <p>@game.Name</p>
        <span>@game.SpielKeyGUID</span>
    </li>
}


