@model List<Ludothek.Storage.Models.Spiel>
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Ludothek</h1>
    <p class="lead">Search our games below and press the button to rent one if you want it.</p>
</div>

<div class="row" id="allgames">
    @foreach (var game in Model.ToList()) {
        <div class="col-md-4">
            <div class="game">
                <img src="https://unsplash.it/860/540/?random"/>
                <div>
                    <h2>@game.Name</h2>
                    <span>EAN: @game.EANNummer</span>
                    <hr />
                    <a class="btn btn-primary pull-right" href="@Url.Action("New", "Rental", new {gameId = game.SpielKeyGUID})">Rent game!</a>
                    <div class="clearfix"></div>
                </div>
            </div>           
        </div>
    }

</div>